body{
    background:goldenrod;

}
section{
    background:white;
    border-radius: 5em;
    padding: 2%;
    margin: 1%;
}
#profesional{
    background: white;
     padding: 2%;
    margin: 1%;

}   
#personal{
    background:white;
    padding: 2%;
    margin: 1%;

}
#medico{
    background: white;
    padding: 2%;
    margin: 1%;

}
#tecnico{
    background: white;
    padding: 2%;
    margin: 1%;

}
#proyecto{
    background:white;
    padding: 2%;
    margin: 1%;
}
#jugador{
    background: white;
    padding: 2%;
    margin: 1%;
}
#rutina{
    background: white;
    padding: 2%;
    margin: 1%;
}
#comida{
    background: white;
    padding: 2%;
    margin: 1%;
}
#tecnologico{
    background: white;
    padding: 2%;
    margin: 1%;
}
#hobbies{
    background: white;
    padding: 2%;
    margin: 1%;
}
#Hábitos{
    background: white;
    padding: 2%;
    margin: 1%;
}
#carrera{
    background: white;
    padding: 2%;
    margin: 1%;
}
#musica{
     background: white;
    padding: 2%;
    margin: 1%;
}
#descansar{
     background: white;
    padding: 2%;
    margin: 1%;
}
#paises{
     background: white;
    padding: 2%;
    margin: 1%;
}
#equipos{
background: white;
    padding: 2%;
    margin: 1%;
}
#nacionalidad{
    background: white;
    padding: 2%;
    margin: 1%;
}
#carros{
    background: white;
    padding: 2%;
    margin: 1%;
}
#familia{
    background: white;
    padding: 2%;
    margin: 1%;
}


 
